**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.gz
**/*.nav
**/*.out
**/*.snm
**/*.toc
**/.idea
**/.gradle


# ignore common compiled python files
*.pyc
**/venv/
**/old/

**/WISDM_at_v2.0/*
!**/WISDM_at_v2.0/*0_raw.txt

**/logs/*

**/new_model/*

**/gait_cycle_lstm_2sec*


**/new_model.tflite